<div id="add-comment-modal" class="modal">
  <div class="modal-content container">
    <h4>Add Comment</h4>
    <p>Share your thoughts about the article, writer, etc.</p>
    <form id="comment-form" action="" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" name="title" required>
          <label for="title">Title</label>
        </div>
        <div class="input-field col s12">
          <textarea id="comment" class="materialize-textarea validate" name="comment" required></textarea>
          <label for="comment">Comment</label>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn add-comment" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{{#each articles.data}}
  {{#if this.saved}}
    <div id="comments-modal-{{this._id}}" class="modal">
      <div class="modal-content container">
        {{#each this.remarks}}
          <h5 class="comment-title"><i class="material-icons">chevron_right</i>{{this.title}}</h5>
          <p>{{this.comment}}</p>
          <p class="comment-date right-align">{{dateFormat this.date "dateTime"}}</p>
          <hr>
        {{/each}}
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  {{/if}}
{{/each}}
