<div id="comment-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
    {{#if this.saved}}
    <form action="/notes/{{this._id}}" method="post" style="display: none">
      <div class="row">
        <div class="input-field col s6">
          <input id="title" type="text" class="validate" name="title" required>
          <label for="title">Title</label>
        </div>
        <div class="input-field col s12">
          <textarea id="comment" class="materialize-textarea validate" name="comment" required></textarea>
          <label for="comment">Comment</label>
        </div>
        <button class="btn add-comment" type="submit" data-id="{{this._id}}">Submit</button>
      </div>
    </form>
    {{/if}}
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>
